body {
  padding-top: 2em;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #f0f0f0;
}

svg {
  display: block;
  margin: 0 auto;
}

/* Styles Gradients */
.style-linearGradientyellow {
  fill: url(#linearGradientyellow);
  stroke: #f9d245;
  stroke-width: 1;
}

.style-linearGradientred {
  fill: url(#linearGradientred);
  stroke: #f27365;
  stroke-width: 1;
}

.style-radialGradientblue {
  fill: url(#radialGradientblue);
  stroke: #31bcd8;
  stroke-width: 1;
}

.style-radialGradientgreen {
  fill: url(#radialGradientgreen);
  stroke: #68f286;
  stroke-width: 1;
}

/* Animation Bouncing Balls */
.animation-circle{
  animation: bounce 0.5s ease-in-out infinite alternate;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.85s;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0px)
  }
  100% {
    transform: translate(0,80px)
  }
}


/* Styles Snowflake Animation */
.snowflake-animation {
  width: 120px;
  height: 135px;
  padding: 75px 15%;
}

.snowflake {
  fill: url(#radialGradientlightblue);
  stroke: #78d1e8;
  stroke-width: 3px;
  stroke-linejoin: round; 
  stroke-linecap: round; 
  stroke-dasharray: 1200; 
  stroke-dashoffset: 1200;
  animation: draw 7s infinite;
}
 
 @keyframes draw {
  50% {
    stroke-dashoffset: 0;
  } 
}


/* Animation Pattern */
.pattern-bg {
  fill: url(#radialGradientlightred);
}

.pattern-animation-bg {
  background-color: #fcd5d1;
  height: 300px;
  width: 300px;
  padding: 15px;
  margin: 0 auto;
}

#pattern1 circle.element0 {
  stroke: #ffcec7;
  animation: stroke-width 2s ease-in-out infinite alternate;
  animation-delay: 0.5s;
}

#pattern1 circle.element1 {
  stroke: #fca399;
  animation: stroke-width 2s ease-in-out infinite alternate;
  animation-delay: 0.75s;
}

#pattern1 circle.element2 {
  stroke: #f27365;
  animation: stroke-width 2s ease-in-out infinite alternate;
  animation-delay: 1s;
}

#pattern1 circle.element3 {
  stroke: #ea4a38;
  animation: stroke-width 2s ease-in-out infinite alternate;
  animation-delay: 1.25s;
}

#pattern1 circle.element0,
#pattern1 circle.element1,
#pattern1 circle.element2,
#pattern1 circle.element3 {
  fill: transparent;
  stroke-width: 0.5px;
}

.animation-pattern1 {
  fill: url(#pattern1);
}

 @keyframes stroke-width {
  50% {
    stroke-width: 2px;
  } 
}


/* Animation Text */
.dash-text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 10 30;
  stroke-dashoffset: 0;
  animation: stroke 4s infinite linear;
  font-size: 4em;
}

.dash-text:nth-child(2) {
  stroke: #f95b4d;
  animation-delay: -0.5s;
}

.dash-text:nth-child(3) {
  stroke: #ffe14f;
  animation-delay: -1s;
}

.dash-text:nth-child(4) {
  stroke: #68f286;
  animation-delay: -1.5s;
}

.dash-text:nth-child(5) {
  stroke: #59dcf7;
  animation-delay: -2s;
}


@keyframes stroke {
  100% {
    stroke-dashoffset: 240;
  }
}

/* Animation Flower */
.inner {
  fill:#fca399;
  cursor: pointer;
  transform-origin: 50% 50%;
}
.inner:hover {
  fill:#fca399;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.02);
}
.petal {
  transform-origin: 50% 50%;
  transition: fill 0.3s ease-in-out;
  fill:#ffcec7;
}

.inactive {
  transition: fill 0.3s ease-in-out;
  fill:#ededed;
}
.inactive.petal {
  transition-delay: 0s !important;
}

.petal:nth-child(9) {
  transform: rotate(360deg);
  transition-delay: 0.15s;
}
.petal:nth-child(2) {
  transform: rotate(45deg);
  transition-delay: 0.3s;
}
.petal:nth-child(3) {
  transform: rotate(90deg);
  transition-delay: 0.45s;
}
.petal:nth-child(4) {
  transform: rotate(135deg);  
  transition-delay: 0.6s;
}
.petal:nth-child(5) {
  transform: rotate(180deg);
  transition-delay: 0.15s;
}
.petal:nth-child(6) {
  transform: rotate(225deg);  
  transition-delay: 0.3s;
}
.petal:nth-child(7) {
  transform: rotate(270deg);
  transition-delay: 0.45s;
}
.petal:nth-child(8) {
  transform: rotate(315deg);
  transition-delay: 0.6s;
}
